:root {
    --color-brand-primary: #0082ca;
    --color-brand-primary-light: #1b7fcc;
    --color-brand-primary-dark: #0065a4;
    --color-brand-accent: #faba11;
    --color-brand-accent-dark: #eaaa00;
    --color-text-white: #ffffff;
    --color-text-black: #000000;
    --color-text-dark: #3f3f3f;
    --color-text-gray-bold: #484848;
    --color-text-gray: #6e6e6e;
    --color-text-gray-light: #a7a7a7;
    --color-text-gray-faint: #d3d3d3;
    --color-text-affirm: #80bc00;
    --color-text-affirm-dark: #598103;
    --color-text-declare: #a47a0d;
    --color-text-avert: #c91a1a;
    --color-bg-white: #ffffff;
    --color-bg-black: #000000;
    --color-bg-midnight: #00426B;
    --color-bg-gray-light: #f3f3f3;
    --color-bg-gray-faint: #f9f9f9;
    --color-bg-gray: #d3d3d3;
    --color-bg-gray-dark: #4a4a4a;
    --color-bg-brand-light: #e7f0f9;
    --color-bg-affirm: #cce499;
    --color-bg-affirm-faint: rgba(204, 228, 153, 0.2);
    --color-bg-affirm-light: rgba(204, 228, 153, 0.3);
    --color-bg-declare: #fff1cc;
    --color-bg-declare-faint: rgba(255, 241, 204, 0.2);
    --color-bg-declare-light: rgba(255, 241, 204, 0.3);
    --color-bg-avert: #ffd1d1;
    --color-bg-avert-faint: rgba(255, 209, 209, 0.2);
    --color-bg-avert-light: rgba(255, 209, 209, 0.3);
    --color-border-white: #ffffff;
    --color-border-gray: #d3d3d3;
    --color-border-gray-standard: #e5e5e5;
    --color-border-gray-light: #f3f3f3;
    --color-border-gray-dark: #6e6e6e;
    --color-border-black: #000000;
    --color-border-brand: #3692d9;
    --color-border-brand-light: #b0cfee;
    --color-border-avert: #c91a1a;
    --color-border-affirm: #80bc00;
    --color-border-declare: #a47a0d;
}

.brand-primary { color: var(--color-brand-primary)};
.brand-primary-light { color: var(--color-brand-primary-light)};
.brand-primary-dark { color: var(--color-brand-primary-dark)};
.brand-accent { color: var(--color-brand-accent)};
.brand-accent-dark {  color: var(--color-brand-accent-dark)};
.text-white { color: var(--color-text-white)};
.text-black { color: var(--color-text-black)};
.text-dark { color: var(--color-text-dark)};
.text-gray-bold { color: var(--color-text-gray-bold)};
.text-gray { color: var(--color-text-gray)};
.text-gray-light { color: var(--color-text-gray-light)};
.text-gray-faint { color: var(--color-text-gray-faint)};
.text-brand { color: var(--color-brand-primary)};
.text-affirm { color: var(--color-text-affirm)};
.text-affirm-dark { color: var(--color-text-affirm-dark)};
.text-declare { color: var(--color-text-declare)};
.text-avert { color: var(--color-text-avert)};
.bg-white { background-color: var(--color-bg-white)};
.bg-black { background-color: var(--color-bg-black)};
.bg-midnight { background-color: var(--color-bg-midnight)};
.bg-gray-faint { background-color: var(--color-bg-gray-faint)};
.bg-gray-light { background-color: var(--color-bg-gray-light)};
.bg-gray { background-color: var(--color-bg-gray)};
.bg-gray-dark { background-color: var(--color-bg-gray-dark)};
.bg-brand { background-color: var(--color-brand-primary)};
.bg-brand-light { background-color: var(--color-bg-brand-light)};
.bg-brand-dark { background-color: var(--color-brand-primary-dark)};
.bg-brand-accent { background-color: var(--color-brand-accent)};
.bg-declare { background-color: var(--color-bg-declare)};
.bg-declare-faint { background-color: var(--color-bg-declare-faint)};
.bg-declare-light { background-color: var(--color-bg-declare-light) };
.bg-avert { background-color: var(--color-bg-avert)};
.bg-avert-faint { background-color: var(--color-bg-avert-faint) };
.bg-avert-light { background-color: var(--color-bg-avert-light) };
.bg-affirm { background-color: var(--color-bg-affirm)};
.bg-affirm-faint { background-color: var(--color-bg-affirm-faint) };
.bg-affirm-light { background-color: var(--color-bg-affirm-light) };
.border-white { border-color: var(--color-border-white)};
.border-default { border-color: var(--color-border-gray)};
.border-standard { border-color: var(--color-border-gray-standard)};
.border-light { border-color: var(--color-border-gray-light)};
.border-dark { border-color: var(--color-border-gray-dark)};
.border-black { border-color: var(--color-border-black)};
.border-brand { border-color: var(--color-border-brand)};
.border-brand-light { border-color: var(--color-border-brand-light)};
.border-brand-dark { border-color: var(--color-brand-primary-dark)};
.border-avert { border-color: var(--color-border-avert)};
.border-affirm { border-color: var(--color-border-affirm)};
.border-affirm-dark { border-color: var(--color-text-affirm-dark)};
.border-declare { border-color: var(--color-border-declare)};