// Brand Colors
$brand-primary: #0082ca;
$brand-primary-light: #1b7fcc;
$brand-primary-dark: #0065a4;
// Accent Colors
$brand-accent: #faba11;
$brand-accent-dark:  #faba11;
// Text Colors
$text-white: #ffffff;
$text-black: #000000;
$text-dark: #3f3f3f;
$text-gray-bold: #484848;
$text-gray: #6e6e6e;
$text-gray-light: #a7a7a7;
$text-gray-faint: #d3d3d3;
$text-brand:  #0082ca;
$text-affirm: #80bc00;
$text-affirm-dark: #598103;
$text-declare: #fa8611;
$text-avert: #c91a1a;
// Backgrounds
$bg-white: #ffffff;
$bg-black: #000000;
$bg-midnight: #00426b;
$bg-gray-faint: #f9f9f9;
$bg-gray-light: #f3f3f3;
$bg-gray: #d3d3d3;
$bg-gray-dark: #4a4a4a;
$bg-brand:  #0082ca;
$bg-brand-light: #e7f0f9;
$bg-brand-dark: #167ac6;
$bg-brand-accent:  #faba11;
$bg-declare: #fff1cc;
$bg-declare-faint: rgba(255, 241, 204, 0.2);
$bg-declare-light: rgba(255, 241, 204, 0.302);
$bg-avert: #ffd1d1;
$bg-avert-faint: rgba(255, 209, 209, 0.2);
$bg-avert-light: rgba(255, 209, 209, 0.302);
$bg-affirm: #cce499;
$bg-affirm-faint: rgba(204, 228, 153, 0.2);
$bg-affirm-light: rgba(204, 228, 153, 0.302);
// Borders
$border-white: #ffffff;
$border-default: #d3d3d3;
$border-standard: #e5e5e5;
$border-light: #f3f3f3;
$border-dark: #6e6e6e;
$border-black: #000000;
$border-brand: #3692d9;
$border-brand-light: #b0cfee;
$border-brand-dark: #0065a4;
$border-avert: #c91a1a;
$border-affirm: #80bc00;
$border-affirm-dark: #598103;
$border-declare: #a47a0d;