/* New Color Standards for Component Library 2022 */

/* Brand Primary Variables */
$brand-primary: var(--color-brand-primary); /* #0082ca */
$brand-primary-light: var(--color-brand-primary-light); /* #1b7fcc */
$brand-primary-dark: var(--color-brand-primary-dark); /* #0065a4 */

/* Brand Accent Variables */
$brand-accent: var(--color-brand-accent); /* #faba11 */
$brand-accent-dark: var(--color-brand-accent-dark); /* #eaaa00 */

/* Text Colors */
$text-white: var(--color-text-white); /* #ffffff */
$text-black: var(--color-text-black); /* #000000 */
$text-dark: var(--color-text-dark); /* #3f3f3f */
$text-gray-bold: var(--color-text-gray-bold); /* #484848 */
$text-gray: var(--color-text-gray); /* #6e6e6e */
$text-gray-light: var(--color-text-gray-light); /* #a7a7a7 */
$text-gray-faint: var(--color-text-gray-faint); /* #d3d3d3 */
$text-brand: $brand-primary; /* #0082ca */
$text-affirm: var(--color-text-affirm); /* #80bc00 */
$text-affirm-dark: var(--color-text-affirm-dark); /* #598103 */
$text-declare: var(--color-text-declare); /* #fa8611 */
$text-avert: var(--color-text-avert); /* #c91a1a */

/* Backgrounds */
$bg-white: var(--color-bg-white); /* #ffffff */
$bg-black: var(--color-bg-black); /* #000000 */
$bg-midnight: var(--color-bg-midnight); /* #00426b */
$bg-gray-faint: var(--color-bg-gray-faint); /* #f9f9f9 */
$bg-gray-light: var(--color-bg-gray-light); /* #f3f3f3 */
$bg-gray: var(--color-bg-gray); /* #d3d3d3 */
$bg-gray-dark: var(--color-bg-gray-dark); /* #4a4a4a */
$bg-brand: $brand-primary; /* #0082ca */
$bg-brand-light: var(--color-bg-brand-light); /* #e7f0f9 */
$bg-brand-dark: $brand-primary-dark; /* #167ac6 */
$bg-brand-accent: $brand-accent; /* #faba11 */
$bg-declare: var(--color-bg-declare); /* #fff1cc */
$bg-declare-faint: var(--color-bg-declare-faint); /* #fff1cc33 */
$bg-declare-light: var(--color-bg-declare-light); /* #fff1cc4d */
$bg-avert: var(--color-bg-avert); /* #ffd1d1 */
$bg-avert-faint: var(--color-bg-avert-faint); /* #ffd1d133 */
$bg-avert-light: var(--color-bg-avert-light); /* #ffd1d14d */
$bg-affirm: var(--color-bg-affirm); /* #cce499 */
$bg-affirm-faint: var(--color-bg-affirm-faint); /* #cce49933 */
$bg-affirm-light: var(--color-bg-affirm-light); /* #cce4994d */
/* Borders */
$border-white: var(--color-border-white); /* #ffffff */
$border-default: var(--color-border-gray); /* #d3d3d3 */
$border-standard: var(--color-border-gray-standard); /* #e5e5e5 */
$border-light: var(--color-border-gray-light); /* #f3f3f3 */
$border-dark: var(--color-border-gray-dark); /* #6e6e6e */
$border-black: var(--color-border-black); /* #000000 */
$border-brand: var(--color-border-brand); /* #3692d9 */
$border-brand-light: var(--color-border-brand-light); /* #b0cfee */
$border-brand-dark: var(--color-brand-primary-dark); /* #0065a4 */
$border-avert: var(--color-border-avert); /* #c91a1a */
$border-affirm: var(--color-border-affirm); /* #80bc00 */
$border-affirm-dark: var(--color-text-affirm-dark); /* #598103 */
$border-declare: var(--color-border-declare); /* #a47a0d */